<div class="position-relative overflow-hidden mb-3" style="height: 80px;">
    {{ fields.field_category_image.content }}
    <span class="overlay text-white align-items-center position-absolute justify-content-center h4 m-0 taxonomy-name">
         {{ fields.name.content }}
    </span>
</div>