<div class="position-relative overflow-hidden" style="height: 435px;">
    {{ fields.field_blog_image.content }}
    <div class="overlay main-slider">
        <div class="mb-1">
            <a  href="">{{ fields.field_category.content }}</a>
            <span class="px-2 text-white">/</span>
            <a href="">{{ fields.changed.content }}</a>
        </div>
        <a class="h2 m-0 main-slider-title" href="">{{ fields.title.content }}</a>
    </div>
</div>