<div class="position-relative">
    {{ fields.field_blog_image.content }}
    <div class="overlay position-relative bg-light">
        <div class="mb-2" style="font-size: 13px;">
            <a href="">{{ fields.field_category.content}}</a>
            <span class="px-1">/</span>
            <span>{{ fields.changed.content }}</span>
        </div>
        <a class="h4 m-0" href="">{{ fields.title.content}}</a>
    </div>
</div>