{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
    {% for row in rows %}
        {{- row.content -}}
    {% endfor %}
</div>