{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
    <h3 class="m-0">Featured</h3>
    <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>
</div>
<div class="owl-carousel owl-carousel-2 carousel-item-4 position-relative">
    {% for row in rows %}
    {{- row.content -}}
    {% endfor %}

</div>


